#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-blue {
  background-color: #5046e5;
  transition: all 200ms ease-in-out;
}

.button-blue:hover {
  background-color: black;
}

.widget-container {
  height: calc(100vh - 64px);
  /* padding: 0px 144px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiSelect {
  min-width: 300px;
  max-width: 400px;
  height: auto;
}
